*
{
	font-style: normal;
	font-variant: normal;
	font-family: "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Yu Gothic", "YuGothic", sans-serif;
	font-weight: 500;
	font-feature-settings: "pkna" 1;
	line-height: 1.8;
}

body
{
	background-color: #373737;
	color: #ffffff;
	text-align: center;
}

div#all
{
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

button, select
{
	background-color: #dddddd;
	color: #000000;
}

button:disabled
{
	background-color: #888888;
	color: #373737;
}

div.subtitle-box
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1190px;
	height: 116px;
	line-height: 1.6;
	background-color: #00ff00;
	overflow: hidden;
}

div.translation-box
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 1190px;
	height: 42px;
	line-height: 1.6;
	background-color: #00ff00;
	overflow: hidden;
}

p#subtitle, p#translation
{
	position: absolute;
	bottom: -20px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	text-overflow: "";
	padding: 4pt;
	text-align: justify;
	text-justify: inter-character;
	font-weight: 700;
	line-height: 1.6;
	font-size: 32px;
	color: #ffffff;
	text-shadow: #000000 3px 0px 0px, #000000 2.83487px 0.981584px 0px, #000000 2.35766px 1.85511px 0px, #000000 1.62091px 2.52441px 0px, #000000 0.705713px 2.91581px 0px, #000000 -0.287171px 2.98622px 0px, #000000 -1.24844px 2.72789px 0px, #000000 -2.07227px 2.16926px 0px, #000000 -2.66798px 1.37182px 0px, #000000 -2.96998px 0.42336px 0px, #000000 -2.94502px -0.571704px 0px, #000000 -2.59586px -1.50383px 0px, #000000 -1.96093px -2.27041px 0px, #000000 -1.11013px -2.78704px 0px, #000000 -0.137119px -2.99686px 0px, #000000 0.850987px -2.87677px 0px, #000000 1.74541px -2.43999px 0px, #000000 2.44769px -1.73459px 0px, #000000 2.88051px -0.838247px 0px;
}

div.translation-box p#subtitle, div.translation-box p#translation
{
	bottom: -28px;
	font-size: 26px;
}

span.system
{
	color: #ff0000;
	font-weight: 700;
}

span.confidence
{
	color: #90ffff;
	font-weight: 700;
	font-size: 16px;
}
